<table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th><% include ./pesq.ejs %></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%if(lista) {%>
          <% lista.map( item => {%>
            <tr>
              <td><%= item.nome %></td>
              <td><%= item.numero %></td>
              <td>
                  <a href="/del/<%=item._id%>" uk-icon="icon: trash"></a>
              </td>
              <td>
                  <a href="/modForm/<%=item._id%>" uk-icon="icon: pencil"></a>
              </td>
              <td>
                  <a href="https://api.whatsapp.com/send?l=pt_BR&phone=<%= item.numero %>" uk-icon="icon: whatsapp"></a>
              </td>
            </tr>
          <%})%>
        <%}%>
        

    </tbody>
</table>