<form class="uk-search uk-search-default" method="GET" action="/pesq">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input class="uk-search-input" type="search" name="termo">
</form>

