    <% include ./partials/header.ejs %>

        <div class="container uk-container-xsmall uk-align-center">
            <div class="uk-padding">
                    <h1 class="uk-heading-medium">Agenda</h1>
                </div>      
            <form method="POST" action="/salvar">
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" name="nome" required>
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: receiver"></span>
                        <input class="uk-input" type="text" name="numero" required>
                    </div>
                </div>
                 <div class="uk-margin">
                    <input class="uk-button uk-button-primary" type="submit" value="ok">
                 </div> 
            </form>
            <% include ./partials/lista.ejs %>       
        </div>

    <% include ./partials/footer.ejs %>
