<% include ./partials/header.ejs %>
    <div class="container uk-container-small uk-align-center">          
        <form method="POST" action="/modificar/<%= item._id %>">
            <div class="uk-padding">
                <legend class="uk-legend">Agenda</legend>
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="text" name="nome" value="<%= item.nome %>">
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="text" name="numero" value="<%= item.numero %>">
            </div>
            <div class="uk-margin">
            <input class="uk-button" type="submit" value="salvar">
            </div>    
        </form>
    </div>
<% include ./partials/footer.ejs %>